body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right, blueviolet, #CA84D6);
}

* {
    font-family: sans-serif;
}

#sweeperElement {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* width: 90vw;
    height: 90vw;
    max-width: 900px;
    max-height: 900px; */
}

#sweeperElement div {
    /* width: 100%; */
    flex: 1;
    display: flex;
    flex-direction: row;
}

#sweeperElement div div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 30px; */
    /* height: 30px; */
    border: 1px solid #fff;
    color: #fff;
    margin: 1px;
    transition: 200ms;
}

#sweeperElement div div:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

#sweeperElement div div.bomb {
    background-color: #EB547F;
}

a {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    transition: 200ms;
}

a:hover {
    background-color: #fff;
    color: blueviolet;
}
